/*find a way to link this skibidi rizzerl*/

/*linked through <link> element... um find out why its href again hehe*/

.dates_class {
    font-weight: bold;
    font-size: larger;
}

.journal_entry {
    background-color: azure;
    border-color: black;
    margin: 0px ;
}

html {
    background-image: url(kitty_bg.jpg);
}

bold {
    font-size: 25px;
}


