/*find a way to link this skibidi rizzerl*/

/*linked through <link> element... um find out why its href again hehe*/

/* explore how to use flexbox!!!!!! */
.dates_class {
    font-weight: bold;
    font-size: larger;
}

.journal_entry {
    background-color: azure;
    border-color: black;
    margin: 0px ;
}

body {
    background-image: url(kitty_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

bold {
    font-size: 20px;
}
